<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Things!</h1>
            <p>Take a look at our handpicked things from all over the internet.</p>
            <p>
                <a class="btn btn-primary btn-large" href="/things/new">Add A New Thing</a>
            </p>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div class="col-lg-12">
            <h3>Our Most Popular Things</h3>
            <% things.forEach(function(thing) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= thing.image_link %>">
                        <div class="caption text-center">
                            <h4><%= thing.name %></h4>
                            <p>
                                <a href="/things/<%= thing._id %>" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
    
<% include ../partials/footer %>